<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/payment.mjs"></script>
    <title>Document</title>
    <!-- Other Tags -->
    <!-- Moyasar Styles -->
    <link
      rel="stylesheet"
      href="https://cdn.moyasar.com/mpf/1.14.0/moyasar.css"
    />
    <!-- Moyasar Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/polyfill/3.40.0/polyfill.min.js"></script>
    <script src="https://cdn.moyasar.com/mpf/1.14.0/moyasar.js"></script>
  </head>
  <body>
    <div class="mysr-form"></div>
  </body>
</html>
