<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <!-- <script defer src="/js/payment.mjs" type="module"></script> -->
    <link href="/css/home.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/flowbite@1.5.0/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script defer src="/js/index.js" type="module"></script>
    <title><%=title%></title>
    <!-- Other Tags -->
    <!-- Moyasar Styles -->

    <link
      rel="stylesheet"
      href="https://cdn.moyasar.com/mpf/1.14.0/moyasar.css"
    />
    <!-- Moyasar Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/polyfill/3.40.0/polyfill.min.js"></script>
    <script src="https://cdn.moyasar.com/mpf/1.14.0/moyasar.js"></script>
  </head>
  <body>
    <%- include('components/_headerpayment')%>
    <div class="min-h-screen flex items-center justify-center">
      <div class="mysr-form w-full max-w-md"></div>
    </div>
    <%- include('components/_footer')%>
  </body>
</html>
