<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    
    <script src="/js/login.js" defer></script>
    <title>login</title>
  </head>

  <body>
      <div class="form-box">
        <div class="btn-field">
            <div id="btn"></div>
            <button type="button" id="signinBtn" class="disable"><a href="login.html" style="color:#242a48;text-decoration:none">Sign in</a></button>
            <button type="button" id="SignupBtn" class="disable"><a href="registration.html" style="color:#242a48;text-decoration:none">Sign up</a></button>
           </div>
          <form>
            <div class="input-group">
              <div class="input-field">
                  <i class="fa-solid fa-envelope"></i>
                  <input type="email" placeholder="Email" id="contact-email">
              </div>
              <div class="input-field">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Password" id="contact-password">
              </div>
              <p>Forget password?<a href="#">Click Here!</a></p>
          </div>
            
            <div class="btn-submit">
                <button id="submit-btn">Submit</button>
                <span id="submit-error"></span>
            </div>
        </form>
       </div>
</div>
  </body>
</html>
